<!DOCTYPE html>
<html>
<head>
  <title>ScheduleController</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  	<h1>Schedule Controller</h1>
</header>

<main>
	<%= yield %>
</main>

<footer>
	<p>All rights are reserved @2015</p>
</footer>

</body>
</html>
